:root {
  --pale-grey: #f5f8fa;
  --pale-blue: #e1e8ed;
  --light-grey-blue: #aab8c2;
  --dark: #14171a;
  --peacock-blue: #0747a6;
  --battleship-grey: #657786;
  --emerald: #099951;
  --dark-blue-grey: #172b4a;
  --grey-brown: #756859;
  --muddy-green: #443a2a;
  --battleship-grey: #6d7075;
  --pale-grey: #f3f3f6;
  --orangey-red: #ff3b30;
  --greyish-brown: #4a4a4a;
  --tangerine: #ff9500;
  --marigold: #ffcc00;
  --robin-s-egg: #5ac8fa;
  --deep-sky-blue: #007aff;
  --azure: #008af3;
  --reddish-pink: #ff2d55;
  --white: #ffffff;
  --pale-grey: #efeff4;
  --pale-lilac: #e5e5ea;
  --warm-blue: #5856d6;
  --light-blue-grey: #d1d1d6;
  --blue-grey: #8e8e93;
  --black: #000000;
  --weird-green: #4cd964;
  --light-blue-grey: #c7c7cc;
}
